---
import MainLayout from "../layout/MainLayout.astro";

import Hero from "../components/Hero.astro";
import OverskriftWithUnderline from "../components/OverskriftWithUnderline.astro";
import Button from "../components/Button.astro";
import ForsideBox from "../components/ForsideBox.astro";
---

<MainLayout>
  <Hero />
  <OverskriftWithUnderline overskrift="Hans Ulrik Nielsen" />
  <div class="grid_bokses">
    <ForsideBox header="Guldsmed siden 1975" introText="Velkommen til vores værksted i hjertet af København,  Grønnegade 26." elaborationText="Vi har stor erfaring indenfor området og er særligt specialiseret i at lave personlige smykker af arveguld, i tæt samarbejde med dig. " />
    <ForsideBox header="Vores koncept" introText="Her hos os kan du få lavet et personligt smykke, få repareret smykker eller købe eksisterende unikke håndlavede smykker." elaborationText="Kontakt os gerne, hvis du finder et smykke interesant, da vi ikke har en webshop, men et katalog hvor du kan se vores udvalg. " />
    <ForsideBox header="Åbningstider" introText="Har du spørgsmål eller drømmer om noget særligt, da kontakt os via formularen, pr. mail eller telefon." elaborationText="Åbent efter aftale i tidsrummet: " monThur="Man-Tors" monThurTimes="08:00 - 16:00" fri="Fre" friTimes="08:00 - 15:00" weekend="Lør-Søn" weekendTimes="Lukket" />
  </div>
  <div class="img_container">
    <div class="sketching">
      <img src="img/ring_sketch.png" alt="sketch" />
    </div>
    <div class="ring">
      <img src="img/ring_forside.webp" alt="ring" />
    </div>
    <div class="hans">
      <img src="img/hans_forside_2.webp" alt="hans" />
    </div>
  </div>
</MainLayout>
<style>
  .img_container {
    padding: 8% 0;
  }

  .grid_bokses {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_4);
  }

  @media (min-width: 800px) {
    .grid_bokses {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }

    .img_container {
      display: grid;
      grid-template-columns: 0.52fr 0.5fr 0.5fr;
      grid-template-rows: 0.5fr 0.1fr;
      gap: 15px;
      padding: 2% 0;
    }

    .sketching {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    .ring {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }

    .hans {
      grid-column: 2 / span 2;
      grid-row: 1 / span 2;
    }
  }
</style>
