---
import CardKat from "../components/Card_kat.astro";
import OverskriftWithUnderline from "../components/OverskriftWithUnderline.astro";
import ProductFilter from "../components/ProductFilter.astro";
import MainLayout from "../layout/MainLayout.astro";
import "../styles/katalog.css";
import BreadCrumbs from "../components/BreadCrumbs.astro";
// Fetcher data fra databasen og ligger i konstanten 'data'
// const data = await fetch("https://jsbykhnnjnhivvvbgjji.supabase.co/rest/v1/Smykker", {
//   method: "GET",
//   headers: {
//     apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzYnlraG5uam5oaXZ2dmJnamppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2Nzg3NzEsImV4cCI6MjAzMTI1NDc3MX0.sOle6ArblP4c9-jM5N5RYUlWTOaJ4okr005pwOkyil8",
//   },
// }).then((res) => res.json());

const data = await fetch("https://jsbykhnnjnhivvvbgjji.supabase.co/rest/v1/Smykker?order=created_at.asc", {
  // Added ?order=created_at.desc
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzYnlraG5uam5oaXZ2dmJnamppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2Nzg3NzEsImV4cCI6MjAzMTI1NDc3MX0.sOle6ArblP4c9-jM5N5RYUlWTOaJ4okr005pwOkyil8",
  },
}).then((res) => res.json());
---

<MainLayout title="Katalog">
  <div class="bc">
    <BreadCrumbs link="/#">
      <span class="hover">Hjem</span>&nbsp;/&nbsp;
    </BreadCrumbs>
    <BreadCrumbs link="/katalog">
      <span class="underline">Katalog</span>
    </BreadCrumbs>
  </div>
  <div class="placing_text">
    <OverskriftWithUnderline overskrift="Katalog" />
    <p>Her kan du se hvilke smykker vi har håndlavet gennem tiden. Hvis du finder et smykke interessant, kan du kontakte os, med henblik på køb. <br />Du kan også lade dig inspirere til dit eget personlige design.</p>
  </div>
  <div class="grid">
    <ProductFilter />
    <section class="product_list">
      {data.map((prod) => <CardKat info={prod} />)}
    </section>
  </div>
</MainLayout>

<style>
  .grid {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }

  .placing_text {
    margin-left: 0px;
    padding-bottom: var(--spacing_6);
  }

  .product_list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_4);
  }

  .bc {
    display: none;
  }

  @media (min-width: 800px) {
    .grid {
      display: grid;
      grid-template-columns: 320px 1fr;
    }
    .product_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 14px;
    }

    .placing_text {
      margin-left: 320px;
      max-width: 600px;
      padding-bottom: var(--spacing_8);
    }
    .bc {
      display: inline-flex;
    }

    .underline {
      position: relative;
    }

    .underline::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      border-bottom: 1px solid var(--secondary_tekst);
    }
    .hover {
      position: relative;
    }

    .hover::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      border-bottom: 1px solid var(--secondary_tekst);
      transition: width 0.3s ease-in-out;
    }

    .hover:hover::after {
      width: 100%;
    }
  }
</style>
