---
import MainLayout from "../layout/MainLayout.astro";
import OverskriftWithUnderline from "../components/OverskriftWithUnderline.astro";
import KontaktIcons from "../components/KontaktIcons.astro";
import Button from "../components/Button.astro";
import OpenHours from "../components/OpenHours.astro";
import BookAftale from "../components/Book_aftale.astro";
import BreadCrumbs from "../components/BreadCrumbs.astro";
---

<MainLayout title="Kontakt">
  <div class="bc">
    <BreadCrumbs link="/#">
      <span class="hover">Hjem</span>&nbsp;/&nbsp;
    </BreadCrumbs>
    <BreadCrumbs link="/katalog">
      <span class="underline">Kontakt</span>
    </BreadCrumbs>
  </div>
  <OverskriftWithUnderline overskrift="Kontakt" />
  <div class="container">
    <div class="icons_cont">
      <KontaktIcons svgPath="/icons/kompas_s.svg" overskrift="Adresse" info="Grønnegade 26 2.sal 1107 København" link="https://maps.google.com/?q=Grønnegade+26+2.sal+1107+København" />
      <KontaktIcons svgPath="/icons/telefon_s.svg" overskrift="Telefon" info="+45 29 47 00 23" />
      <KontaktIcons svgPath="/icons/email_s.svg" overskrift="Email" info="hun10@balbonet.dk" />
      <OpenHours svgPath="/icons/clock_s.svg" overskrift="Åbningstider efter aftale" monThur="Man-Tors" monThurTimes="08:00 - 16:00" fri="Fre" friTimes="08:00 - 15:00" weekend="Lør-Søn" weekendTimes="Lukket" />
    </div>
    <div class="img_cont"><img src="/img/kontakt.webp" alt="img" /></div>
  </div>
  <BookAftale />
</MainLayout>

<style>
  .img_cont {
    padding: 3% 0;
  }
  .bc {
    display: none;
    padding-bottom: 5%;
  }
  @media screen and (min-width: 800px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* margin: 0 0%; */
      gap: var(--spacing_12);
    }

    .img_cont {
      width: 100%;
      height: auto;
      max-width: 600px;
      min-width: 200px;
    }
    .bc {
      display: inline-flex;
    }

    .underline {
      position: relative;
    }

    .underline::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      border-bottom: 1px solid var(--secondary_tekst);
    }
    .hover {
      position: relative;
    }

    .hover::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      border-bottom: 1px solid var(--secondary_tekst);
      transition: width 0.3s ease-in-out;
    }

    .hover:hover::after {
      width: 100%;
    }
  }
</style>
