---
import MainLayout from "../layout/MainLayout.astro";

import OverskriftWithUnderline from "../components/OverskriftWithUnderline.astro";
---

<MainLayout />

<OverskriftWithUnderline overskrift="Om Hans Ulrik Nielsen" />

<div></div>

<style></style>
