---
import MainLayout from "../layout/MainLayout.astro";
import OverskriftWithUnderline from "../components/OverskriftWithUnderline.astro";
import YdelserComp from "../components/YdelserComp.astro";
import BreadCrumbs from "../components/BreadCrumbs.astro";
---

<MainLayout title="Ydelser">
  <div class="bc">
    <BreadCrumbs link="/#">
      <span class="hover">Hjem</span>&nbsp;/&nbsp;
    </BreadCrumbs>
    <BreadCrumbs link="/om">
      <span class="underline">Ydelser</span>
    </BreadCrumbs>
  </div>
  <OverskriftWithUnderline overskrift="Ydelser" />
  <section>
    <div class="text">
      <YdelserComp heading="Bestillinger">
        <p>Vi fremstiller smykker som du selv kan være med til at designe. Har du gammelt guld liggende, eller har arvet, bruger vi guldet til dit personlige smykke.</p>
      </YdelserComp>
      <YdelserComp heading="Reparationer">
        <p>Mange års erfaring bliver lagt til grund, når et smykke med affektionsværdi skal repareres. Kom trygt og få en vurdering af om det kan betale sig.</p>
      </YdelserComp>
      <YdelserComp heading="Forgyldninger">
        <p>Vi forgylder dine smykker op, hvis de er slidte eller anløbne.</p>
      </YdelserComp>
      <YdelserComp heading="Rhodinering">
        <p>De fleste hvidguldssmykker er blevet rhodineret, dvs har fået et lag af ædelmetallet rhodium, som gør at smykket fremtræder flot hvidt. Vi udfører polering, rens og rhodinering af gamle hvidguldssmykker, så de i de fleste tilfælde står som nye.</p>
      </YdelserComp>
      <YdelserComp heading="Faglig råd og vurdering">
        <p>Vi udfører vurderinger af dine smykker, til bl.a. brug ved forsikringssager. Få tingene vurderet inden uheldet er ude.</p>
      </YdelserComp>
    </div>
    <div class="picture">
      <img class="pic1" src="/img/ydelser/redskaber_1.webp" alt="billede af redskaber på værksstedet" />
      <img class="pic2" src="/img/ydelser/redskaber_2.webp" alt="billede af redskaber på værksstedet" />
      <img class="pic3" src="/img/ydelser/redskaber_3.webp" alt="billede af redskaber på værksstedet" />
    </div>
  </section>
</MainLayout>

<style>
  img {
    max-width: 480px;
  }
  .text {
    max-width: 72ch;
  }
  .pic1,
  .pic2 {
    display: none;
  }

  .bc {
    display: none;
  }

  @media (min-width: 800px) {
    section {
      padding-top: var(--spacing_4);
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: var(--spacing_10);
    }

    .picture {
      display: flex;
      flex-direction: column;
      gap: var(--spacing_6);
    }

    .pic1,
    .pic2 {
      display: block;
    }
    .bc {
      display: inline-flex;
    }

    .underline {
      position: relative;
    }

    .underline::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      border-bottom: 1px solid var(--secondary_tekst);
    }
    .hover {
      position: relative;
    }

    .hover::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      border-bottom: 1px solid var(--secondary_tekst);
      transition: width 0.3s ease-in-out;
    }

    .hover:hover::after {
      width: 100%;
    }
  }
</style>
