---
import "../styles/general.css";
import MainLayout from "../layout/MainLayout.astro";
import Card_single from "../components/Card_single.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout />

<div>
  <Card_single imgsingle="/img/singleview_pic/ring1.webp" pris="2500 kr." texts1="Smuk sterling sølvring med lilla ametyst." texts2="Ametysten måler 10 x 15 mm. Ringen kan fåes i den størrelse som du ønsker det. " texts3="Vi har flere typer ringe med forskellige slags størrelser og sten. Kig forbi værkstedet efter aftale eller kontakt Hans Ulrik Nielsen pr. telefon eller mail for yderligere information. " texts4="Varenummer: RING24" buttontext="Book en aftale" />
</div>

<Footer />

<style>
  @media (min-width: 800px) {
  }
</style>
