---
const { title } = Astro.props;
---

<details open class="h5">
  <summary><span>{title}</span></summary>
  <div><slot /></div>
</details>

<style>
  summary {
    display: flex;
    align-items: center;
    font-family: var(--font_ver);
  }
  span::after {
    content: "";
    width: 18px;
    height: 2px;
    margin-top: 6px;
    align-self: start;
    display: block;
    background-color: var(--secondary_strokes);
  }
  summary::after {
    content: "";
    width: 18px;
    height: 10px;
    background: url("/katalog/arrow.svg");
    background-size: cover;
    transform: translateY(-4px);
    margin-left: 0.75em;
    transition: 0.2s;
  }

  details[open] > summary::after {
    transform: rotate(180deg);
  }
</style>
