---
import "../styles/general.css";
---

<div class="container">
  <form action="action_page.php">
    <div class="grid_name">
      <input type="text" id="fname" name="firstname" placeholder="Fornavn" required />
      <input type="text" id="lname" name="lastname" placeholder="Efternavn" required />
    </div>
    <input type="text" placeholder="Email" name="mail" required />
    <textarea id="subject" name="subject" placeholder="Din besked" style="height:200px"></textarea>

    <div class="input_container">
      <input type="submit" value="Send besked" />
    </div>
  </form>
</div>

<style>
  /* Style inputs with type="text", select elements and textareas */
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--secondary_tekst);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 10px;
    resize: vertical;
    font-family: var(--font_ver);
    font-size: 0.9rem;
    color: var(--secondary_strokes);
  }

  /* Style the submit button with a specific background color etc */
  input[type="submit"] {
    background-color: var(--secondary_gold);
    color: var(--primary_card);
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  input[type="text"]:focus {
    outline: none; /* Fjern standard outline */
    border-color: var(--secondary_gold); /* Skift til den ønskede farve */
  }

  .grid_name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  form {
    max-width: 800px;
  }
</style>
