---
const { link } = Astro.props;
---

<div class="bc_container">
  <a class="bc h5 hover" href={link}> <slot /></a>
</div>

<style>
  .bc {
    text-decoration: none;
  }

  .bc_container {
    padding-top: var(--spacing_3);
    padding-bottom: var(--spacing_10);
  }

  @media (max-width: 800px) {
  }
</style>
