---
const { link } = Astro.props;
---

<div class="bc_container">
  <a class="bc h5" href={link}> <slot /></a>
</div>

<!-- <div class="bc">
  <BreadCrumbs link="/#">
    <span class="hover">{page1}</span>&nbsp;/&nbsp;
  </BreadCrumbs>
  <BreadCrumbs link="/kontakt">
    <span class="underline">{page2}</span>
  </BreadCrumbs>
</div> -->

<style>
  .bc {
    text-decoration: none;
  }

  .bc_container {
    padding-top: var(--spacing_3);
    padding-bottom: var(--spacing_10);
  }

  @media (max-width: 800px) {
    .bc {
    }
    .bc {
      display: inline-flex;
    }

    .underline {
      position: relative;
    }

    .underline::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      border-bottom: 1px solid var(--secondary_tekst);
    }
  }
</style>
