---
const { size } = Astro.props;
---

<button class={size}><slot /></button>

<style>
  button {
    border-radius: 5px;
    background-color: var(--secondary_gold);
    border: 2px solid var(--secondary_gold);
    color: var(--primary_background);
    font-size: 1rem;
  }

  button:hover {
    background-color: var(--primary_background);
    color: var(--secondary_gold);
    border: 2px solid var(--secondary_gold);
  }

  .small {
    padding: 5px 20px;
  }

  .medium {
    padding: 4px 10px;
  }

  .large {
    padding: 10px 267px;
  }

  @media (min-width: 769px) {
    button {
      font-size: 1.3rem;
    }
    .small {
      padding: 4px 28px;
    }

    .medium {
      padding: 8px 40px;
    }

    .large {
      padding: 10px 267px;
    }
  }
</style>
