---
const { size, link } = Astro.props;
---

<!-- <button class={size}><slot /></button> -->
<a class={size} href={link}><slot /></a>

<style>
  a {
    border-radius: 5px;
    background-color: var(--secondary_gold);
    border: 2px solid var(--secondary_gold);
    color: var(--primary_card);
    font-size: 1rem;
    text-decoration: none;
  }

  a:hover {
    background-color: var(--primary_card);
    color: var(--secondary_gold);
    border: 2px solid var(--secondary_gold);
  }

  .small {
    padding: 5px 20px;
  }

  .medium {
    padding: 4px 10px;
  }

  .large {
    padding: 10px 20px;
    width: 100%;
    display: block;
    text-align: center;
  }

  @media (min-width: 769px) {
    a {
      font-size: 1.3rem;
    }
    .small {
      padding: 4px 28px;
    }

    .medium {
      padding: 8px 40px;
    }
  }
</style>
