---
const { info } = Astro.props;
import Button from "./Button.astro";
---

<article data-kat={info.tags}>
  <img src="/img/produkter/ring_zoomed.jpg" alt="" />
  <div class="productinfo">
    <h2 class="h4">{info.name}</h2>
    <p>{info.price} kr.</p>
  </div>
  <div class="button"><Button size="small">Se mere</Button></div>
  <!-- <a href="">Se mere</a> -->
</article>

<style>
  article {
    text-align: center;
    background-color: var(--primary_felter);
    padding-bottom: 1.5rem;
    align-self: flex-start;
    border-radius: var(--radius);
  }
  .productinfo {
    border-bottom: 1px solid var(--secondary_tekst);
    margin: 0 3rem;
  }

  .h4 {
    margin: 0;
  }

  p {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
  }

  a {
    padding-top: 1rem;
  }

  .button {
    margin: 1rem 0;
  }
</style>
