---
const { overskrift, info } = Astro.props;
---

<div class="container">
  <div>
    <h2 class="h3">
      {overskrift}
    </h2>
    <h3 class="h5 spacing">
      {info}
    </h3>
  </div>
</div>

<style>
  .spacing {
    margin-bottom: var(--spacing_8);
    max-width: 20ch;
  }
</style>
