---
const { header } = Astro.props;
const { introText } = Astro.props;
const { elaborationText } = Astro.props;
---

<div class="container">
  <h3>{header}</h3>
  <p>{introText}</p>
  <p>{elaborationText}</p>
</div>

<style>
  .container {
    background-color: var(--primary_boks);
    margin: 3% 5%;
    padding: 3% 5%;
  }

  .days {
    background-color: aquamarine;
  }

  .times {
    background-color: blueviolet;
  }
</style>
