---
const { svgPath, overskrift, info, link } = Astro.props;
---

<div class="container">
  <div>
    <img src={svgPath} alt="svg" />
  </div>
  <div>
    <h2 class="h3 spacing">
      {overskrift}
    </h2>
    <h3 class="h4">
      {info}
      {
        link && (
          <div>
            <a href={link} class="link" target="_blank" rel="noopener noreferrer">
              Find adressen her
            </a>
          </div>
        )
      }
    </h3>
  </div>
</div>
<!-- classen "Target" og "rel" gør, at siden åbner i et nye vindue -->

<style>
  .container img {
    width: 100px;
    height: auto;
  }

  .container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    padding-top: var(--spacing_5);
  }

  .h4 {
    max-width: 33ch;
  }

  .link {
    color: var(--link-color); /* Juster farven efter behov */
    text-decoration: underline;
  }
</style>
