---
const { svgPath, overskrift, info, link } = Astro.props;
---

<div class="container">
  <div>
    <img src={svgPath} alt="svg" />
  </div>
  <div>
    <h2 class="h3 spacing">
      {overskrift}
    </h2>
    <h3 class="h4">
      {info}
      <h3 class="h4">
        {link}
      </h3>
    </h3>
  </div>
</div>

<style>
  .spacing {
    padding-bottom: var(--spacing_3);
  }
  .container img {
    width: 100px;
    height: auto;
  }

  .container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    padding-top: 5%;
  }
</style>
