---
const { overskrift } = Astro.props;
---

<h1 class="h1">{overskrift}</h1>
<div class="padding">
  <hr class="short-line" />
</div>

<style>
  .short-line {
    width: 72px;
    margin: 5px 0;
    border: none;
    height: 1.5px;
    background-color: var(--secondary_strokes);
  }

  .padding {
    padding-bottom: 1.8rem;
    /* padding-left: 1.4rem; */
  }

  h1 {
    /* padding-left: 1.4rem; */
    padding-top: 5%;
  }

  @media (min-width: 700px) {
    .short-line {
      width: 100px;
      border: none;
      height: 2px;
      background-color: var(--secondary_strokes);
    }
  }
</style>
