---
import Accordion from "./Accordion.astro";
---

<section class="accordion_list">
  <form>
    <Accordion title="Type">
      <ul>
        <li><input name="kat" value="Armringe" id="inp_armringe" type="checkbox" /> <label for="inp_armringe">Armringe</label></li>
        <li><input name="kat" value="Halskæde" id="inp_halskaede" type="checkbox" /> <label for="inp_halskaede">Halskæde</label></li>
        <li><input name="kat" value="Ringe" id="inp_ringe" type="checkbox" /> <label for="inp_ringe">Ringe</label></li>
        <li><input name="kat" value="Vedhæng" id="inp_vedhaeng" type="checkbox" /> <label for="inp_vedhaeng">Vedhæng</label></li>
      </ul>
    </Accordion>
    <Accordion title="Materiale">
      <ul>
        <li><input name="kat" value="Forgyldt" id="inp_forgyldt" type="checkbox" /> <label for="inp_forgyldt">Forgyldt</label></li>
        <li><input name="kat" value="Guld" id="inp_guld" type="checkbox" /> <label for="inp_guld">Guld</label></li>
        <li><input name="kat" value="Sølv" id="inp_soelv" type="checkbox" /> <label for="inp_soelv">Sølv</label></li>
      </ul>
    </Accordion>
    <Accordion title="Sten">
      <ul>
        <li><input name="kat" value="Ametyst" id="inp_ametyst" type="checkbox" /> <label for="inp_ametyst">Ametyst</label></li>
        <li><input name="kat" value="Brilliant" id="inp_brilliant" type="checkbox" /> <label for="inp_brilliant">Brilliant</label></li>
        <li><input name="kat" value="Citrin" id="inp_citrin" type="checkbox" /> <label for="inp_citrin">Citrin</label></li>
        <li><input name="kat" value="Kvarts" id="inp_kvarts" type="checkbox" /> <label for="inp_kvarts">Kvarts</label></li>
        <li><input name="kat" value="Månesten" id="inp_maanesten" type="checkbox" /> <label for="inp_maanesten">Månesten</label></li>
        <li><input name="kat" value="Perler" id="inp_perler" type="checkbox" /> <label for="inp_perler">Perler</label></li>
        <li><input name="kat" value="Zirkonia" id="inp_zirkonia" type="checkbox" /> <label for="inp_zirkonia">Zirkonia</label></li>
      </ul>
    </Accordion>
    <Accordion title="Pris">
      <ul>
        <li><input name="kat" value="pris0" id="inp_pris0" type="checkbox" /> <label for="inp_pris0">0 - 499 kr.</label></li>
        <li><input name="kat" value="pris1" id="inp_pris1" type="checkbox" /> <label for="inp_pris1">500 - 999 kr.</label></li>
        <li><input name="kat" value="pris2" id="inp_pris2" type="checkbox" /> <label for="inp_pris2">1000 - 1999 kr.</label></li>
        <li><input name="kat" value="pris3" id="inp_pris3" type="checkbox" /> <label for="inp_pris3">2000 - 4999 kr.</label></li>
        <li><input name="kat" value="pris4" id="inp_pris4" type="checkbox" /> <label for="inp_pris4">+ 5000 kr.</label></li>
      </ul>
    </Accordion>
  </form>
</section>
<script>
  const form = document.querySelector("form");
  const smykker = document.querySelectorAll("article");
  form.addEventListener("change", (e) => {
    const formData = new FormData(form);
    const selected = formData.getAll("kat");

    //løb igennem alle produkter
    //hvis artiklens data tingest indeholder noget fra selected, så skal den vises
    //ellers skal den skjules

    smykker.forEach((article) => {
      let shouldShow = false;
      if (selected.length == 0) {
        shouldShow = true;
      }

      selected.forEach((cat) => {
        if (article.dataset.kat.includes(cat)) {
          shouldShow = true;
        }
      });

      if (shouldShow) {
        article.classList.remove("hide");
      } else {
        article.classList.add("hide");
      }
    });
  });
</script>
<style>
  .accordion_list {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 1rem;
    border-radius: var(--radius);
  }
  ul {
    list-style-type: none;
    margin-top: 15px;
  }
  li {
    display: flex;
    margin-top: 5px;
    align-items: center;
  }
  /* input {
    accent-color: var(--secondary_tekst);
  } */
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    border: 1px solid var(--secondary_tekst);
    border-radius: 2px;
  }
  input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--secondary_tekst);
    transform: scale(0);
    background-color: var(--secondary_tekst);
    transition: all 0.1s;
  }
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  label {
    margin-left: 0.3rem;
  }

  @media (min-width: 800px) {
    .accordion_list {
      align-self: flex-start;
      margin: 0;
      margin-right: 2rem;
      position: sticky;
      top: 2rem;
    }
  }
</style>
