---
import "../styles/general.css";
const { heading } = Astro.props;
---

<article>
  <h2 class="h2">{heading}</h2>
  <div class="line"></div>
  <slot />
</article>

<style>
  h2 {
    position: relative;
    margin-bottom: var(--spacing_3);
  }

  h2::after {
    content: "";
    display: block;
    width: 5rem;
    height: 2px; /* Tykkelse af stregen */
    background-color: var(--secondary_strokes);
    position: absolute;
    left: 0;
    bottom: -0.3cm; /* Placerer stregen 0,3 cm under overskriften */
  }

  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_2);
    padding-bottom: var(--spacing_10);
  }
</style>
